<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXaeolOnWBJYC8DJMKRSj5ibzx5C4DjEc</string>
	<key>GCM_SENDER_ID</key>
	<string>3779730765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boonjae.boonjae</string>
	<key>PROJECT_ID</key>
	<string>boonjae-bb6b1</string>
	<key>STORAGE_BUCKET</key>
	<string>boonjae-bb6b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3779730765:ios:b41bc63c850196323dab04</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8947941959282735~7970417332</string>
</dict>
</plist>